<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRAMEWORK RuPaul's Drag Race</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>

<div class="container">
<div class="grid-x grid-padding-x">
  <div class="large-12 cell mainHeader">
<h1>RuPaul's Drag Race</h1>
</div>

<div class="large-8 medium-12 small-12 cell">
<p>Drag queens from around the country come to compete on RuPaul's Drag Race for a cash prize of $100,000. Each week, the queens compete in a challenge and present an outfit on a runway. They are judged by a panel of judges including RuPaul Charles, Michelle Visage, Ross Matthews, and a guest judge. Common challenges include a RuSical, girl group, and unconventional materials challenge. The franchise has expanded so much, that they now have shows in the UK, Australia, Canada, Thailand, Italy, Spain, Holland, and Chile.</p>
</div>

<div class="large-4 medium-12 small-12 cell sidebar">
<div class="callout calloutStyle">
  <h2>Watch the Show</h2>
<a href="https://www.paramountplus.com/shows/rupauls-drag-race/" target="_blank" class="hollow button large expanded secondary">Click Here</a>

</div>
</div>

</div>

</div>
</div>
<br>
<div class="grid-x grid-padding-x">
<div class="large-12 meduim-12 small-12 cell judges">
  <h2>Judges</h2>
</div>
</div>
<div class="grid-x grid-padding-x">
<div class="large-4 cell box1">
<h3>Michelle Visage</h3>
<center><img src="images/michelle.jpg" alt="Michelle Visage" title="Michelle Visage" width=299 height=375 style="border-width: 20px; border-style: solid; border-color: #e5007c;"><center>
</div>
<div class="large-4 cell box2">
  <h3>RuPaul</h3>
  <center><img src="images/rupaul.jpg" alt="RuPaul Charles" title="RuPaul Charles" width=336 height=336 style="position: relative; top:10px;"></center>
</div>
<div class="large-4 cell box3">
  <h3>Ross Matthews</h3>
  <center><img src="images/ross.jpg" alt="Ross Matthews" title="Ross Matthews" width=300 height=200 style="position: relative; top:65px;"></center>
</div>
</div>
<br><br>
<div class="grid-x grid-padding-x">
<div class="large-12 meduim-12 small-12 cell challenges">
<figure>
  <center><img src="images/rusical.jpg" alt=RuSical title="RuSical" width=740 height=460><center>
  <figcaption>RuSical from season 6 called "Shade: The Rusical"</figcaption>
</figure>
<br>
<figure>
  <center><img src="images/girlGroup.jpg" alt="Girl Group Challenge" title="Girl Group Challenge" width=740 height=460><center>
  <figcaption>Girl Group challenge from All Stars season 3 featuring (from left to right) Shangela, Trixie Mattel, Bebe Zahara Benet, Kennedy Davenport, and BenDeLaCreme</figcaption>
</figure>
<br>
<figure>
  <center><img src="images/design.jpg" alt="Design Challenge" title="Design Challenfe" width=740 height=460><center>
  <figcaption>Unconvetional materials design challenge from season 5 where the queens had to get materials from a Beverly Hills dumpster</figcaption>
</figure>
<br>
</div>




    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
