body {background-color:#4d4249;}
h1 {color:#e5007c; font-family: 'Pacifico', serif; font-size: 65px; text-align: center;}
p {color:#ff5ed5; font-family: 'Raleway', sans-serif; line-height: 150%; font-size: 25px}
ol {color:#ff5ed5; font-family: 'Raleway', sans-serif; font-size: 25px;}
h3 {color:#59c9c5; font-family: 'Pacifico', serif; text-align: center; font-size: 35px;}
h5 {color:#e5007c; font-family: 'Pacifico', serif; text-align: center; font-size: 30px;}
a: link {color: #ff5ed5; font-family: 'Raleway', serif;}
a:visited{color: #ff5ed5; font-family: 'Raleway', serif;}
figcaption {color: #ff5ed5; font-family: 'Raleway', serif; font-size: 20px;}
div {background-color: #59c9c5;}
h6 {color:#e5007c; font-family: 'Pacifico', serif; text-align: center; font-size: 20px;}